@charset "utf-8";


/*CSS slide settings*/
/*1*/
@keyframes slide1 {
	0%   {opacity: 0;}
	10%  {opacity: 1;}
	30%  {opacity: 1;}
	40%  {opacity: 0;}
	100% {opacity: 0;}
}
/*2*/
@keyframes slide2 {
	0%   {opacity: 0;}
	20%  {opacity: 0;}
	30%  {opacity: 1;}
	60%  {opacity: 1;}
	70%  {opacity: 0;}
	100% {opacity: 0;}
}
/*3*/
@keyframes slide3 {
	0%   {opacity: 0;}
	50%  {opacity: 0;}
	60%  {opacity: 1;}
	85%  {opacity: 1;}
	95%  {opacity: 0;}
	100% {opacity: 0;}
}

#mainimg {
	width: 100%;
	clear: left;
	position: relative;
	margin-top: 15px;
}
/*All image common setting*/
.slide1,
.slide2,
.slide3 {
	position: absolute;
	left:0px;
	top:0px;
	animation-duration: 15s;
	animation-fill-mode: both;
	animation-delay: 1s;
	animation-iteration-count:infinite;	
}
/*Board image*/
.slide0 {
	position: relative;
	width: 100%;
	height: auto;
}
/*1*/
.slide1 {
	animation-name: slide1;	/*names of keyframes*/
}
/*2*/
.slide2 {
	animation-name: slide2;
}
/*3*/
.slide3 {
	animation-name: slide3;
}



/*画面幅800px以下の設定*/
@media screen and (max-width:800px){
	/*画像ブロック*/
	#mainimg {
		margin-top: 0;
		margin-bottom: 20px;
	}
}
