@charset "utf-8";
@import "./style_subu.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*コンテンツ表示初期値*/
#index       { display: block; }
#health      { display: none;  }
#crime       { display: none;  }
#sightseeing { display: none;  }
#newa        { display: none;  }
#activity    { display: none;  }


.color-p-1 {color: var(--color-p-1);}
.color-b-1 {color: var(--color-b-1);}

.color-p-2 {color: var(--color-p-2);}
.color-b-2 {color: var(--color-b-2);}

.color-p-3 {color: var(--color-p-3);}
.color-b-3 {color: var(--color-b-3);}

.color-p-4 {color: var(--color-p-4);}
.color-b-4 {color: var(--color-b-4);}

.color-p-5 {color: var(--color-p-5);}
.color-b-5 {color: var(--color-b-5);}

.color-p-6 {color: var(--color-p-6);}
.color-b-6 {color: var(--color-b-6);}



body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 15px;
	line-height: 2;
	background: #fff;
	-webkit-text-size-adjust: none;
}

header {
	height: 100px;
}

.tel {
	letter-spacing: 0.2em;	            
	font-size: 22px;		            
	color: var(--main-contents);           
}

.tel span {
	display: block;
	font-size: 22px;	                
	letter-spacing: 0.1em;	            
	color: #666;		               
}

.left_border{
	border-left: #dcdcdc 1px solid;
}


.thumbnail {
	width: 80px;	                   
	height: 80px;	                   
	border: 1px solid #dcdcdc;	      
	margin-bottom: 15px;
}

.thumbnail:hover {
	border: 1px solid #999;	
}

footer {
	clear: both;
	background: var(--main-contents);        
	color: #fff;	                
	font-size: 85%;	                  
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
}

footer .pr {
	display: block;font-size: 80%;
}

.faq {
	padding: 0px 20px;	              
}

.faq dt {
	color: var(--main-contents);          
	padding-top: 15px;
}

.faq dt a {
	color: var(--main-contents); 
}

.faq dd {
	overflow: hidden;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 15px;
}

.ta1 {
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #ccc;	      
	padding: 10px 15px;	              
	word-break: break-all;
}

.ta1 th.tamidashi {
	width: auto;
	text-align: left;	               
	background: #f6f5f2;	          
}

.ta1 th {
	width: 140px;	                  
	text-align: center;	              
	font-weight: normal;
}

.ta1 th img {
	width: 100%;
}

.ta1 td .specialbox {
	float: left;
	width: 80px;	                  
	height: 40px;
}
.ta1 td .specialbox img {
	vertical-align: middle;
}
.ta1 td .specialtext {
	float: left;
	width: 45%;
}


@keyframes scroll {
0% {opacity: 0;}
100% {opacity: 1;}
}

body .nav-fix-pos-pagetop a {
	display: none;
}

body.is-fixed-pagetop .nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 100;position: fixed;
	width: 50px;	                 
	line-height: 50px;	              
	bottom: 50px;	                 
	right: 3%;		                 
	background: #000;	           
	background: rgba(0,0,0,0.6);	
	color: #fff;	                
	animation-name: scroll;	         
	animation-duration: 1S;	          
	animation-fill-mode: forwards;	 
}

body.is-fixed-pagetop .nav-fix-pos-pagetop a:hover {
	background: #999;
}

span.option1, span.option2 {
	text-align: center;
	display: block;
	font-size: 10px;	              
	width: 120px;		              
	position: absolute;
	right: 0px;	                     
	top: 0px;	                      
	transform: rotate(45deg) translate(36px,-15px);
	color: #FFF;	                
	background: #999;	             
}

span.option1 {
	color: #FFF;		             
	background: #F00;	             
}

h2 span.option1, h2 span.option2 {
	width: auto;
	position: static;
	transform: none;
	display: inline-block;
	font-size: 15px;
	margin-left: 10px;
	padding: 0px 5px;
}

.newicon {
	background: #F00;	             
	color: #FFF;		             
	font-size: 70%;		              
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

.upicon {
	background: #0072ff;	         
	color: #FFF;		             
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}
.time-cont{
	width: 200px;
}

.look {
	background: #e5e5e5;
	padding: 5px 10px;
	border-radius: 4px;
}

.mb15,.mb1em {
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

ul.disc {
	padding: 0em 25px 15px;
	list-style: disc;
}

.color1, .color1 a {
	color: var(--main-contents);
}

.bg1 {
	background: #f6f5f2;
}

.pr {
	font-size: 10px;
}

.wl {
	width: 96%;
}

.ws {
	width: 50%;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.l {
	text-align: left;
}
img.fr {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

img.fl {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.big1 {
	font-size: 24px;
	letter-spacing: 0.2em;
}

.mini1 {
	font-size: 11px;
	display: inline-block;
	line-height: 1.5;
}

.sh {
	display: none;
}

.top-logo-img {
	width: 100px;
	padding: 10px;
}


@media screen and (max-width:800px){
	.sh {
		display:block;
	}

	.pc {
		display:none;
	}
}

@media screen and (max-width:480px){
	body {
		font-size: 12px;	
		line-height: 1.5;
	}
	
	.ta1 th {
		width: 100px;
		padding: 5px;
	}
	
	.ta1 td {
		width: auto;
		padding: 5px;
	}

	.ta1 td .specialtext {
		float: none;
		width: auto;
	}
	
	.ws,.wl {
		width: 94%;
	}

	img.fr,img.fl {
		float: none;
		margin: 0;
		width: 100%;
	}
}
