:root {
  --main-contents: #51b508;
}

.color1{
  background: #51b508;
  color: #fff;
  transition: 0.5s;
}
.color2{
  background: #fff;
  color: #c41818;
  transition: 0.5s;
}
.color3{
  background: #fff;
  color: #0072ff;
  transition: 0.5s;
}
.color4{
  background: #fff;
  color: #e66917;
  transition: 0.5s;
}
.color5{
  background: #fff;
  color: #e2e20c;
  transition: 0.5s;
}
.color6{
  background: #fff;
  color: #7f0fdc;
  transition: 0.5s;
}

.color2:hover{
  background: #c4181876;
  color: #fff;
}
.color3:hover{
  background: #0073ff83;
  color: #fff;
}
.color4:hover{
  background: #e66a177b;
  color: #fff;
}
.color5:hover{
  background: #e2e20c74;
  color: #fff;
}
.color6:hover{
  background: #800fdc76;
  color: #fff;
}


#index       { display: block; }
#health      { display: none;  }
#crime       { display: none;  }
#sightseeing { display: none;  }
#news        { display: none;  }
#activity    { display: none;  }
